<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/targil4_style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigment 4</title>
</head>
<body>
    <div class="GridContainer">
        <div class="item1"><h1>Lesson 4</h1></div>
        <div class="item2">
            <a href="../views/page2.html">
                <button type="button" class="button">Next Page</button>
            </a>
        </div>
        <div class="item3"><h1>Animations</h1></div>
        <div class="item4"><h2>Table:</h2></div>
        <div class="item5"><h1><a href="https://www.google.com">Google</a></div>
        <div class="item6"> <h1>this is an intro to grid</h1></div>
        <div class="item7"><table class="table1">
            <tr>
                <th>This</th>
                <th>Is</th>
              </tr>
              <tr>
                <td>A</td>
                <td>Table</td>
              </tr>
              <tr>
                <th>This</th>
                <th>Is</th>
              </tr>
              <tr>
                <td>A</td>
                <td>Table</td>
              </tr>
        </table> </div>
            <div class="item8"> <img src="../static/googlepic.png" alt="null"></div>


    </div>



    
   
</body>
</html>