<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <title>Document</title>
</head>
<body id="body">
    <h1>Assignment:</h1>
    <div id="TurningDiv">
        <button id="TurningButton" onclick="turnFunc()">Hi!</button>
    </div><br><br>
    <h1 id = "greetingH1"></h1>
    <button id="timeButton" onclick="timeFunc()">WHAT IS THE TIME</button>
    <div id="time"></div>
    <div id="carList"></div>
    <img id = "car_img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJC4k28AroGw0VkkLuZkKi2FOFLhs427HagQ&usqp=CAU" alt="" width="100px" height="70px">
    <button id="carButton" onclick="carFunc()">SHOW NEXT CAR</button>
</body>
</html>