<!DOCTYPE html>
<html>
        <head>
            <link rel="stylesheet" href="style.css">
            <script src=""></script>
            <meta>
            <title>this is my first HTML example </title>
            </script>
    </head>

    <body>
        <h1 id="PageMainHead" class="TypeA"><u><i><b>Try</b></i></u></h1>       
        <h4 style="color:rgb(25, 207, 195);font-family:monospace">small</h4>
        <p class="TypeA">line1<br>line2</p>
        <p id="Jon text">Jons first text</p>
        <img src="../images/REGIHOOL.jpeg" alt="asak in haskala" width="420">
        <br>
        <video src="../images/FALL.mp4" controls></video>
        <br>
        <a href="https://www.snow-forecast.com/resorts/Val-Thorens/6day/mid">Weather Report</a>
        <ol>
            <il>one</il>
            <il>two</il>
            <il>three</il>
        </ol>
        <table style="border-color: black solid;">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>email</th>
            </tr>
            <tr>
                <th>212679617</th>
                <th>Jonathan</th>
                <th>jjlevinrad@gmail.com</th>
            </tr>
            <tr>
                <th>123456789</th>
                <th>Ori</th>
                <th>Ori.gmail.com</th>
            </tr>
        </table>
    </body>
</html>